.socials{
    min-width: 100vw;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.daSocial{
    cursor: pointer;
}


.inactive{
    filter: brightness(50%);
    cursor: not-allowed;
}

