@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: "Indie Flower",serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background: #6c5162;
}

::-webkit-scrollbar-thumb {
    background: #9d8492;
}

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid white;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(62, 53, 71);
    background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 50px
    );
    background-blend-mode: overlay;
    color: rgb(255, 255, 255);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    gap: 2rem;
}


.customButtonHolder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    gap: 1.5rem;
}