.points{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid white;
    width: 80%;
    text-align: center;
    border: 1px solid white;
    border-radius: 2rem;
}

.totalPoints{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 3rem;
    padding-bottom: 0.5rem;
}

.referalPoints{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
    padding: 0 2rem;
    gap: 3rem;
    width: 100%;
    flex-wrap: wrap;
}

.left, .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .referalPoints {
        justify-content: center;
    }
}