.topbar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-size: clamp(2rem, 1.4rem + 3vw, 5rem);
}

@media (max-width:1000px){
    .topbar{
        padding-bottom: 0;
    }
}